@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  width: 400px;
  height: 800px;
  font-family: 'Roboto';
  background-color: #232B2B;
  color: #DC3D24;
}
.title{
  font-size: 35px;
  text-align: center;
}
