@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  width: 400px;
  height: 800px;
  font-family: 'Roboto';
  background-color: #FFCF79;
  color: #299F4C;
}
.title{
  font-size: 35px;
  text-align: center;
}
